


/*
==============
common styling
============== 
*/

a:link {
   text-decoration: none;
}

a:hover > p {
   background-color: black;
   color: white;
}

body {
   background-color:lightyellow;
   margin: 0;
   padding: 2em;
   font-family: Helvetica;
   
}

.nav{
 float: right; 
 display: flex;
 color: blue;


}
.logo{
   opacity: 0.4;
}

h1{
   text-align: center;
   color: blue;
   padding-top: 2em;
   

}
h2{
   text-align: center;
   color: blue;
   font-family: helvetica;
}

.banner{
   align-self: center;
   opacity: 0.2;
}



.footer p {
   font-size: 1em;
   font-style: italic;
   color: lightgray;
   display:inline;
   padding: 4px 24px;
   
}

.footer {
   background-color: blue;
   margin: 2em;
   display: flex;
}

.navigation a p {
   font-size: 1.5em;
   display:inline;
   padding: 4px 24px;
}


/*Menu style*/

.menu{

   font-size: 20px;
   text-align: left;
   color: blue;
   margin-bottom: 1em;
   
   margin: 2em;
}

ul{
   text-align: left;
   color: blue;
   margin: 2em;
   padding: 2em;
   background-color: lightyellow;
   line-height: 1.5;
}


.index {

   font-size: 20px;
   text-align: center;
   color: blue;
   margin-bottom: 1em;
   margin-top: 3em;
   margin: 2em;
}

/*about*/
.about-p{
   color: blue;
   text-align: center;
   font-size: large;
   margin-bottom: 10em;
   margin-top: 3em;
}

/*find*/
.hitta{
   text-align: left;
  
   
}
.find{
   color: blue;
  

}

